In [1]:
import pandas as pd
df=pd.read_csv('zomato.csv')
zomato=df.copy()

In [2]:
zomato.describe()

,Unnamed: 0.1,Unnamed: 0,rate (out of 5),num of ratings,avg cost (two people)
count,7105.000000,7105.000000,7037.000000,7105.000000,7048.000000
mean,3552.000000,3552.000000,3.514253,188.921042,540.286464
std,2051.181164,2051.181164,0.463249,592.171049,462.902305
min,0.000000,0.000000,1.800000,1.000000,40.000000
25%,1776.000000,1776.000000,3.200000,16.000000,300.000000
50%,3552.000000,3552.000000,3.500000,40.000000,400.000000
75%,5328.000000,5328.000000,3.800000,128.000000,600.000000
max,7104.000000,7104.000000,4.900000,16345.000000,6000.000000

In [3]:
#we found out important facts about some restaurants:
#the max rating is 4.9 
#the max number of ratings is 16345 while at 75% it is only 128
#here 50% represents the median 
#25%-first quartile
#75%-third quartile
#25-50 not that much of an increase
#but from 75 to max there is sharp increase
#so only some restaurants have attracted a large perc of

In [4]:
zomato.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7105 entries, 0 to 7104
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0.1           7105 non-null   int64
 1   Unnamed: 0             7105 non-null   int64
 2   restaurant name        7105 non-null   object
 3   restaurant type        7105 non-null   object
 4   rate (out of 5)        7037 non-null   float64
 5   num of ratings         7105 non-null   int64
 6   avg cost (two people)  7048 non-null   float64
 7   online_order           7105 non-null   object
 8   table booking          7105 non-null   object
 9   cuisines type          7105 non-null   object
 10  area                   7105 non-null   object
 11  local address          7105 non-null   object
dtypes: float64(2), int64(3), object(7)
memory usage: 666.2+ KB

In [5]:
#shows that rate out of 5 and avg cost have null values

In [6]:
len(zomato)

7105

In [7]:
#since length is 7105 all others have no missing values
#unnamed 0.1 and 1 are not required
#lets take out both of them

In [8]:
zomato.drop('Unnamed: 0',axis=1,inplace=True)
zomato.drop('Unnamed: 0.1',axis=1,inplace=True)

In [9]:
zomato.head()

,restaurant name,restaurant type,rate (out of 5),num of ratings,avg cost (two people),online_order,table booking,cuisines type,area,local address
0,#FeelTheROLL,Quick Bites,3.4,7,200.0,No,No,Fast Food,Bellandur,Bellandur
1,#L-81 Cafe,Quick Bites,3.9,48,400.0,Yes,No,"Fast Food, Beverages","Byresandra,Tavarekere,Madiwala",HSR
2,#refuel,Cafe,3.7,37,400.0,Yes,No,"Cafe, Beverages",Bannerghatta Road,Bannerghatta Road
3,'@ Biryani Central,Casual Dining,2.7,135,550.0,Yes,No,"Biryani, Mughlai, Chinese",Marathahalli,Marathahalli
4,'@ The Bbq,Casual Dining,2.8,40,700.0,Yes,No,"BBQ, Continental, North Indian, Chinese, Bever...",Bellandur,Bellandur

In [10]:
#now lets take out missing values but we need to fill average cost because we cant miss rating or number of ratings

In [11]:
zomato['avg cost (two people)'].fillna(value=0.0,inplace=True)

In [12]:
zomato.dropna(axis=0,inplace=True)

In [13]:
zomato

,restaurant name,restaurant type,rate (out of 5),num of ratings,avg cost (two people),online_order,table booking,cuisines type,area,local address
0,#FeelTheROLL,Quick Bites,3.4,7,200.0,No,No,Fast Food,Bellandur,Bellandur
1,#L-81 Cafe,Quick Bites,3.9,48,400.0,Yes,No,"Fast Food, Beverages","Byresandra,Tavarekere,Madiwala",HSR
2,#refuel,Cafe,3.7,37,400.0,Yes,No,"Cafe, Beverages",Bannerghatta Road,Bannerghatta Road
3,'@ Biryani Central,Casual Dining,2.7,135,550.0,Yes,No,"Biryani, Mughlai, Chinese",Marathahalli,Marathahalli
4,'@ The Bbq,Casual Dining,2.8,40,700.0,Yes,No,"BBQ, Continental, North Indian, Chinese, Bever...",Bellandur,Bellandur
...,...,...,...,...,...,...,...,...,...,...
7100,Zoey's,Cafe,4.3,894,600.0,Yes,No,"Cafe, Italian, Continental, Burger",Bellandur,Sarjapur Road
7101,ZOROY Luxury Chocolate,Dessert Parlor,4.0,68,250.0,Yes,No,Desserts,Brigade Road,Church Street
7102,Zu's Doner Kebaps,"Takeaway, Delivery",3.7,33,350.0,No,No,"Turkish, Fast Food, Biryani, Chinese",Malleshwaram,RT Nagar
7103,Zyara,Casual Dining,3.8,191,650.0,Yes,No,"North Indian, Mughlai, Chinese",Kammanahalli,HBR Layout
7104,Zyksha,Food Truck,3.4,9,200.0,No,No,Fast Food,Bannerghatta Road,South Bangalore

In [14]:
#now with null values removed lets set new index to data frame
import numpy as np
ind=np.arange(0,7037)
zomato['index']=ind
zomato.set_index('index',inplace=True)

In [15]:
zomato

,restaurant name,restaurant type,rate (out of 5),num of ratings,avg cost (two people),online_order,table booking,cuisines type,area,local address
index,,,,,,,,,,
0,#FeelTheROLL,Quick Bites,3.4,7,200.0,No,No,Fast Food,Bellandur,Bellandur
1,#L-81 Cafe,Quick Bites,3.9,48,400.0,Yes,No,"Fast Food, Beverages","Byresandra,Tavarekere,Madiwala",HSR
2,#refuel,Cafe,3.7,37,400.0,Yes,No,"Cafe, Beverages",Bannerghatta Road,Bannerghatta Road
3,'@ Biryani Central,Casual Dining,2.7,135,550.0,Yes,No,"Biryani, Mughlai, Chinese",Marathahalli,Marathahalli
4,'@ The Bbq,Casual Dining,2.8,40,700.0,Yes,No,"BBQ, Continental, North Indian, Chinese, Bever...",Bellandur,Bellandur
...,...,...,...,...,...,...,...,...,...,...
7032,Zoey's,Cafe,4.3,894,600.0,Yes,No,"Cafe, Italian, Continental, Burger",Bellandur,Sarjapur Road
7033,ZOROY Luxury Chocolate,Dessert Parlor,4.0,68,250.0,Yes,No,Desserts,Brigade Road,Church Street
7034,Zu's Doner Kebaps,"Takeaway, Delivery",3.7,33,350.0,No,No,"Turkish, Fast Food, Biryani, Chinese",Malleshwaram,RT Nagar
7035,Zyara,Casual Dining,3.8,191,650.0,Yes,No,"North Indian, Mughlai, Chinese",Kammanahalli,HBR Layout
7036,Zyksha,Food Truck,3.4,9,200.0,No,No,Fast Food,Bannerghatta Road,South Bangalore

In [16]:
#I guess area will be enough for analysis so lets drop local address

In [17]:
zomato.drop('local address',axis=1,inplace=True)
zomato

,restaurant name,restaurant type,rate (out of 5),num of ratings,avg cost (two people),online_order,table booking,cuisines type,area
index,,,,,,,,,
0,#FeelTheROLL,Quick Bites,3.4,7,200.0,No,No,Fast Food,Bellandur
1,#L-81 Cafe,Quick Bites,3.9,48,400.0,Yes,No,"Fast Food, Beverages","Byresandra,Tavarekere,Madiwala"
2,#refuel,Cafe,3.7,37,400.0,Yes,No,"Cafe, Beverages",Bannerghatta Road
3,'@ Biryani Central,Casual Dining,2.7,135,550.0,Yes,No,"Biryani, Mughlai, Chinese",Marathahalli
4,'@ The Bbq,Casual Dining,2.8,40,700.0,Yes,No,"BBQ, Continental, North Indian, Chinese, Bever...",Bellandur
...,...,...,...,...,...,...,...,...,...
7032,Zoey's,Cafe,4.3,894,600.0,Yes,No,"Cafe, Italian, Continental, Burger",Bellandur
7033,ZOROY Luxury Chocolate,Dessert Parlor,4.0,68,250.0,Yes,No,Desserts,Brigade Road
7034,Zu's Doner Kebaps,"Takeaway, Delivery",3.7,33,350.0,No,No,"Turkish, Fast Food, Biryani, Chinese",Malleshwaram
7035,Zyara,Casual Dining,3.8,191,650.0,Yes,No,"North Indian, Mughlai, Chinese",Kammanahalli
7036,Zyksha,Food Truck,3.4,9,200.0,No,No,Fast Food,Bannerghatta Road

In [18]:
#now each row is in proper order for analysis

In [19]:
#now lets check all the values again
zomato.describe()

       rate (out of 5)  num of ratings  avg cost (two people)
count      7037.000000     7037.000000            7037.000000
mean          3.514253      190.360097             538.458008
std           0.463249      594.843837             464.887775
min           1.800000        1.000000               0.000000
25%           3.200000       15.000000             300.000000
50%           3.500000       40.000000             400.000000
75%           3.800000      129.000000             600.000000
max           4.900000    16345.000000            6000.000000

In [20]:
#mean rating is 3.5 
#considering rating is directly dependant on sales from the parameters given
#lets try to analyze all the parameters and find a way to increase the mean rating

In [21]:
# Assumption:1 Average cost affects the rating:
avg_cost1=zomato[zomato['rate (out of 5)']<3.5]
avg_cost1['rate (out of 5)']

index
0       3.4
3       2.7
4       2.8
5       3.4
7       2.8
       ...
7012    2.8
7019    2.6
7026    2.6
7031    3.2
7036    3.4
Name: rate (out of 5), Length: 3052, dtype: float64

In [22]:
avg_cost1['avg cost (two people)'].mean()

400.87450851900394

In [23]:
avg_cost2=zomato[zomato['rate (out of 5)']>4.4]
avg_cost2

,restaurant name,restaurant type,rate (out of 5),num of ratings,avg cost (two people),online_order,table booking,cuisines type,area
index,,,,,,,,,
130,AB's - Absolute Barbecues,Casual Dining,4.6,1502,1400.0,No,Yes,"European, Mediterranean, North Indian, BBQ",Kalyan Nagar
418,Arbor Brewing Company,"Pub, Microbrewery",4.5,8375,2000.0,No,Yes,"American, Continental, Salad",Brigade Road
460,Asia Kitchen By Mainland China,"Casual Dining, Bar",4.9,2178,1500.0,Yes,Yes,"Asian, Chinese, Thai, Momos","Byresandra,Tavarekere,Madiwala"
489,Avista Cafe Pizzeria,Cafe,4.5,506,650.0,Yes,Yes,"Cafe, Italian",Kalyan Nagar
509,Baar Union,"Bar, Pub",4.6,634,850.0,No,Yes,"Continental, Finger Food, Asian, Chinese",HSR
...,...,...,...,...,...,...,...,...,...
6761,Vapour Brewpub and Diner,"Microbrewery, Pub",4.5,2878,1400.0,No,Yes,"North Indian, Continental, Italian",Sarjapur Road
6769,Veena Stores,Quick Bites,4.5,2407,150.0,Yes,No,South Indian,Malleshwaram
6910,Windmills Craftworks,"Microbrewery, Pub",4.6,5890,2500.0,No,No,"American, North Indian, Salad",Brookefield
6960,Yauatcha,Fine Dining,4.6,2332,2800.0,No,Yes,"Chinese, Asian, Cantonese, Tea",Indiranagar
6972,You Mee,Casual Dining,4.7,231,2000.0,Yes,No,"Sushi, Japanese, Chinese, Thai",Brookefield

In [24]:
avg_cost2['avg cost (two people)'].mean()

1286.734693877551

In [25]:
intermediate_avgcost=zomato[zomato['rate (out of 5)']>3.5]
intermediate_avgcost =intermediate_avgcost[intermediate_avgcost['rate (out of 5)']<4.5]
intermediate_avgcost['avg cost (two people)'].mean()

657.301775147929

In [26]:
#so it is clear that that cost has no affect on ratings 
#restaurants with higher rating are charging higher cost

In [27]:
#The type of area it is located only affects when the customers visit it Since zomato is purely service based 
#we cant really take area as a parameter

In [28]:
#type of cuisines affect
cuisines=avg_cost1['cuisines type']
cuisines.head(15)

index
0                                             Fast Food
3                             Biryani, Mughlai, Chinese
4     BBQ, Continental, North Indian, Chinese, Bever...
5               Mughlai, Biryani, Chinese, North Indian
7                                          North Indian
8                      Arabian, Sandwich, Rolls, Burger
19                                      Cafe, Fast Food
22    North Indian, Chinese, Continental, Italian, S...
27                                   Asian, Continental
28                                               Bakery
29                                                 Cafe
31                South Indian, North Indian, Fast Food
39                  Cafe, Chinese, Continental, Italian
44               Burger, Italian, North Indian, Chinese
47                                         South Indian
Name: cuisines type, dtype: object

In [29]:
cuisines.value_counts().head(10)

North Indian, Chinese                  239
North Indian                           211
South Indian                           165
Biryani                                 87
Fast Food                               81
South Indian, North Indian, Chinese     62
Chinese, North Indian                   40
North Indian, South Indian, Chinese     40
Bakery                                  39
Chinese                                 34
Name: cuisines type, dtype: int64

In [30]:
cuisuine1=avg_cost2['cuisines type']
cuisuine1.head(15)

index
130           European, Mediterranean, North Indian, BBQ
418                         American, Continental, Salad
460                          Asian, Chinese, Thai, Momos
489                                        Cafe, Italian
509             Continental, Finger Food, Asian, Chinese
600                                                  BBQ
661                                             Desserts
749           Continental, European, BBQ, Chinese, Asian
762    American, Continental, North Indian, Mediterra...
764                          Chinese, Sushi, Asian, Thai
867    American, Cafe, Continental, French, Burger, M...
891                                              Italian
909                                    Lebanese, Turkish
948                Continental, North Indian, BBQ, Steak
990      North Indian, Chinese, Continental, Thai, Salad
Name: cuisines type, dtype: object

In [31]:
cuisuine1.value_counts().head(10)

South Indian                                                          6
Cafe, Beverages                                                       2
North Indian, Continental                                             2
American, North Indian, Chinese, Finger Food                          2
North Indian, South Indian, Chinese, Continental, Mangalorean         1
European, Italian, Desserts, Salad, Juices, Steak                     1
Continental, American, Italian, Modern Indian, Pizza, Burger          1
Beverages, Sandwich                                                   1
Mangalorean, Seafood, South Indian, North Indian, Chinese, Mughlai    1
North Indian, Chinese, Mughlai, Mexican, BBQ                          1
Name: cuisines type, dtype: int64

In [32]:
#well we see Chinese ,South and North Indian in both ratings 
#So the cuisuines wont affect the rating

In [33]:
#lets check restaurant type
restaurant1=avg_cost1['restaurant type']
restaurant1.head(15)

index
0            Quick Bites
3          Casual Dining
4          Casual Dining
5     Takeaway, Delivery
7     Takeaway, Delivery
8            Quick Bites
19                  Cafe
22              Delivery
27         Casual Dining
28              Delivery
29                  Cafe
31    Takeaway, Delivery
39                  Cafe
44    Casual Dining, Bar
47            Food Court
Name: restaurant type, dtype: object

In [34]:
restaurant2=avg_cost2['restaurant type']
restaurant2.head(15)

index
130           Casual Dining
418       Pub, Microbrewery
460      Casual Dining, Bar
489                    Cafe
509                Bar, Pub
600           Casual Dining
661          Dessert Parlor
749       Microbrewery, Pub
762       Pub, Microbrewery
764           Casual Dining
867    Cafe, Dessert Parlor
891           Casual Dining
909           Casual Dining
948       Microbrewery, Pub
990      Casual Dining, Bar
Name: restaurant type, dtype: object

In [35]:
restaurant1.value_counts().head(8)

Quick Bites           1497
Casual Dining          545
Delivery               186
Takeaway, Delivery     182
Cafe                   109
Dessert Parlor          83
Bakery                  65
Beverage Shop           58
Name: restaurant type, dtype: int64

In [36]:
restaurant2.value_counts().head(15)

Casual Dining                  31
Casual Dining, Bar             11
Cafe                            8
Fine Dining                     6
Microbrewery, Pub               5
Quick Bites                     5
Dessert Parlor                  5
Bar, Casual Dining              4
Microbrewery, Casual Dining     3
Pub, Microbrewery               3
Microbrewery                    2
Cafe, Dessert Parlor            2
Bar                             2
Lounge                          2
Bar, Pub                        1
Name: restaurant type, dtype: int64

In [37]:
#Well we found one parameter most of the lesser rating restaurants are quick bites while 
#Higher rating restaurants have casual dining
#So that explains that customers don't prefer restaurants of type Quick bites but rather prefer casual dining
#we also see casual dining and cafe on low rate restaurants but Quick bites has very high number on lower rating
#But has lower on higher rating restaurants

In [38]:
#Now let us check the quality of service:
order1=avg_cost1['online_order'].value_counts()
order1

No     1644
Yes    1408
Name: online_order, dtype: int64

In [39]:
order2=avg_cost2['online_order'].value_counts()
order2

No     62
Yes    36
Name: online_order, dtype: int64

In [40]:
#Seeing the counts we come to a conclusion that zomato takes so less orders online from high rating restaurants
#Well its fact that only few restaurants have a very good rating

In [41]:
#but from describe we know that third quartile contains 128
#while max contains 16345 ratings so most people buy from those restaurants

In [42]:
#and in both restaurants the online orders are lesser then offline
#so there is no problem in service

In [43]:
#so let us try to find underrated restaurants :i.e., restaurants with rating of 4.3-4.9 but with lesser number of ratings

In [46]:
under_rated=zomato[zomato['rate (out of 5)']>4.2]
under_rated=under_rated[under_rated['num of ratings']<190]

In [48]:
under_rated

,restaurant name,restaurant type,rate (out of 5),num of ratings,avg cost (two people),online_order,table booking,cuisines type,area
index,,,,,,,,,
231,Aligarh House,Delivery,4.4,98,400.0,Yes,No,"North Indian, Biryani, Awadhi, Mughlai","Byresandra,Tavarekere,Madiwala"
661,Belgian Waffle Factory,Dessert Parlor,4.8,186,400.0,Yes,No,Desserts,"Byresandra,Tavarekere,Madiwala"
851,BITEBOX,Quick Bites,4.4,150,300.0,Yes,No,"North Indian, Chinese, Fast Food, Beverages, D...",Brookefield
856,Black Deer,"Takeaway, Delivery",4.4,149,0.0,No,No,"Beverages, Ice Cream, Desserts","Byresandra,Tavarekere,Madiwala"
866,Blk Plus Wht,"Casual Dining, Cafe",4.3,112,800.0,No,No,"Asian, Thai, North Indian",HSR
909,Bonum cibum,Casual Dining,4.5,181,1200.0,Yes,No,"Lebanese, Turkish","Byresandra,Tavarekere,Madiwala"
1220,Caraway Kitchen - Conrad Bengaluru,Fine Dining,4.3,145,2800.0,No,Yes,"American, Continental, North Indian, South Indian",Indiranagar
1269,Chai Days,Cafe,4.4,105,200.0,Yes,No,"Cafe, Tea, Beverages, Fast Food",Indiranagar
1386,Chikkanna Tiffin Room,Quick Bites,4.3,84,200.0,Yes,No,South Indian,Malleshwaram
1411,China Bistro & Lounge,Casual Dining,4.4,79,1600.0,Yes,Yes,"Asian, Chinese, Thai, Korean",Indiranagar
1827,Dhyaana,Cafe,4.3,153,600.0,Yes,No,"Cafe, Healthy Food, Momos",Indiranagar
1863,Dock Frost'd,"Beverage Shop, Dessert Parlor",4.6,110,400.0,Yes,No,"Beverages, Desserts",Brookefield
1904,Drava,Lounge,4.3,114,1500.0,No,Yes,"Pizza, Continental, North Indian, Asian",Koramangala 4th Block
1905,Dream a Dozen,Delivery,4.3,132,300.0,Yes,No,"Bakery, Desserts",Bannerghatta Road
1967,Eating Love,Cafe,4.3,149,800.0,Yes,No,"Cafe, Italian, Pizza",Bellandur
2807,HVR Veg,Quick Bites,4.5,96,300.0,Yes,No,South Indian,Malleshwaram
2985,Japan Travel Cafe Azuki,Cafe,4.3,67,400.0,No,No,"Cafe, Japanese",Brigade Road
3196,Karma Kaapi,Beverage Shop,4.4,181,250.0,Yes,No,"Beverages, Tea",Banashankari
3527,Le Cirque Signature - The Leela Palace,Fine Dining,4.3,126,6000.0,No,Yes,"French, Italian",Indiranagar
3692,Mahjong Room - WelcomHotel Bengaluru,Casual Dining,4.4,127,1200.0,No,Yes,Chinese,Lavelle Road
3720,Malleshwaram Dosa Corner,Quick Bites,4.4,104,120.0,Yes,No,South Indian,Malleshwaram
3727,Malties - Radisson Blu,Lounge,4.3,53,4500.0,No,No,"Continental, Fast Food",Marathahalli
3747,Mane Holige,"Sweet Shop, Quick Bites",4.3,141,200.0,No,No,"Mithai, South Indian",Basavanagudi
3753,Mangalore pearl - Seafood Restaurant,Casual Dining,4.3,94,550.0,Yes,No,"Mangalorean, Seafood",Brigade Road
3812,Matsuri - The Chancery Hotel,"Casual Dining, Bar",4.4,183,1800.0,No,Yes,Japanese,Brigade Road
4411,Occasions,Bakery,4.3,189,400.0,Yes,No,"Bakery, Desserts","Byresandra,Tavarekere,Madiwala"
4493,Ottimo - ITC Gardenia,Fine Dining,4.3,164,3000.0,No,Yes,"Italian, Salad",Brigade Road
4728,Pot-O-Noodles,Casual Dining,4.3,162,800.0,No,Yes,"Chinese, Asian, Japanese",Koramangala 4th Block
4836,Queens,Bar,4.3,169,1400.0,No,Yes,"North Indian, Continental, British",Electronic City
5014,Rolls & Bowls,Quick Bites,4.4,143,250.0,Yes,No,"Rolls, Chinese",Brookefield
5109,Saara's Grill n Spice - SS Lumina Hotel,Casual Dining,4.3,104,1000.0,No,Yes,"North Indian, Arabian, Beverages","Byresandra,Tavarekere,Madiwala"
5159,Salvadores,Fine Dining,4.4,186,2000.0,No,Yes,"Mediterranean, Continental, French, Italian",Brigade Road
5317,Shakes Theory,Beverage Shop,4.5,155,300.0,Yes,No,"Beverages, Sandwich",Banashankari
5441,Siddiqu Kabab Center,Quick Bites,4.4,178,250.0,No,No,"North Indian, Rolls",Lavelle Road
5481,Sixth Avenue Cafe And Patisserie,"Cafe, Dessert Parlor",4.4,159,600.0,No,No,"Cafe, Italian, Desserts","Byresandra,Tavarekere,Madiwala"
6178,The Biryani Story,Casual Dining,4.4,76,600.0,No,No,"Biryani, North Indian, Chinese, Mughlai","Byresandra,Tavarekere,Madiwala"
6385,The Marash,Dessert Parlor,4.3,62,250.0,Yes,No,"Turkish, Desserts","Byresandra,Tavarekere,Madiwala"
6418,The Pancake Story,Dessert Parlor,4.6,117,300.0,Yes,No,"Desserts, Beverages","Byresandra,Tavarekere,Madiwala"
6461,The Roastery,Cafe,4.3,167,500.0,No,No,Cafe,Kalyan Nagar
6620,Tree Tops Bar & Kitchen,"Casual Dining, Bar",4.4,108,1000.0,No,Yes,"North Indian, Chinese, Continental, Italian",Brigade Road
6623,TRIGEREATO,Cafe,4.3,104,700.0,Yes,Yes,"Cafe, Continental, Beverages",Koramangala 7th Block
6905,Wild Thyme Restaurant,Casual Dining,4.4,44,800.0,No,No,"Chinese, Continental, North Indian, Italian, S...",Koramangala 6th Block
6951,Xpress Biryani,Casual Dining,4.3,146,650.0,Yes,No,"Biryani, North Indian, Kebab",Brigade Road
7007,Zamindars Biryani Durbar,Casual Dining,4.3,53,600.0,Yes,Yes,"Biryani, Chinese, Mughlai, Andhra",Kammanahalli
7023,Zero Kelvin,Dessert Parlor,4.3,169,450.0,Yes,No,"Desserts, Beverages","Byresandra,Tavarekere,Madiwala"

In [49]:
#well these all are under rated restaurants lets now find their type their orders

In [50]:
under_rated['restaurant type'].value_counts()

Casual Dining                    10
Quick Bites                       6
Cafe                              6
Dessert Parlor                    4
Fine Dining                       4
Delivery                          2
Lounge                            2
Beverage Shop                     2
Casual Dining, Bar                2
Takeaway, Delivery                1
Casual Dining, Cafe               1
Beverage Shop, Dessert Parlor     1
Sweet Shop, Quick Bites           1
Bakery                            1
Bar                               1
Cafe, Dessert Parlor              1
Name: restaurant type, dtype: int64

In [51]:
#well previously Quick bites got a count of 5 on high rated restaurants if we see it over here it has only increased by 1
#so we can indeed say that quick bites is not that preferred by our customers

In [52]:
#now if we attract more customers by advertising or giving discounts or offers on such restaurants more people buy it
#increasing it's number of rating and it's rating

In [53]:
#Conclusions:

In [54]:
#1.Cuisines don't matter on rating

In [55]:
#2.Average cost also doesn't affect the rating

In [56]:
#3.Type of restaurants do matter
#casual dining is preferred the most
#quick bites is not that preferred

In [ ]:
#4.Now the way we increase the sales is showing content more of casual dining restaurants and much less
#on quick bites
#we have few restaurants that have higher rating but lesser number of ratings
#we need to advertize them,show them more,give extra offers discounts so that more customers are attracted to it
#there by we will get more restaurants with higher rating and good number of customers